body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 60px 100px;
    margin-left: 0;
    background-color: lightcoral;
}

.main-frame {
    display: flex;
    align-items: center;
    gap: 50px;

}

.color-text {
    text-align: center;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 20vh;
    width: 20vh;
    border: 1px solid black; 
    margin-bottom: 20px;   
}

.color {
    border: 1px solid black;
}

#your-color {
    width: 50px;
    height: 50px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
}

.container {
    display: grid;

    min-width: 300px;
    min-height: 300px;

    box-sizing: border-box;
    height: 60vh;
    width: 60vh;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 50px;
}

button {
    background-color: darkred;
    color: lightgrey;
    font-weight: bold;
    border: 3px solid lightgrey;
    border-radius: 8px;
    font-size: 20px;
}

button:active {
    transform: scale(0.9);
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* align-content: center; */
    /* align-self: flex-end; */
    /* margin: auto; */
}

.slider-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.output {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 6px;
    width: 50px;
    height: 35px;
    padding: 5px 5px;
}